[Unit]
Description=Overwatch autostart
After=docker.service

[Service]
Type=simple
User=root
ExecStart=docker run --device /dev/video0 --rm -p 8080:8080 --name iot-smart-parking-overwatch iot-smart-parking-overwatch

[Install]
WantedBy=multi-user.target
