[Unit]
Description=Overwatch autostart
After=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/remote/iot-smart-parking-service
ExecStart=npm start
Restart=always

[Install]
WantedBy=multi-user.target
